<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="RM353072" value="https://pkgs.dev.azure.com/RM353072/_packaging/RM353072/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <RM353072>
      <add key="Username" value="Nuget" />
      <add key="ClearTextPassword" value="nrfghzlbtthf7cik5k2i656lja7ecpuygv25wuzvhgsvcda3qgbq" />
    </RM353072>
  </packageSourceCredentials>
</configuration>
